@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
	box-sizing: border-box;
}
body {
	background: transparent;
	font: 14px/20px "Lato", Arial, sans-serif;
	padding: 0px 0;
	color: white;
}
.container {
	height: 100%;
	margin: 0px auto;
	width: 45%;
	background: transparent;
	border-radius: 5px;
}
.post-info {
	color: #999;
	font-style: italic;
	font-size: 70%;
}
.chat-heading {
	font-size: 150%;
}
.chat {
	height: 100%;
	width: 100%;
	float: left;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #434651;
	background: transparent;
}
::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.chat .chat-history {
	padding: 10px 30px 20px 30px;
	overflow-x: hidden;
	overflow-y: auto;
	word-wrap: break-word;
	height: 90%;
	margin-bottom: 2%;
}
.chat .chat-history1 {
	padding: 10px 30px 20px 30px;
	overflow: hidden;
	overflow-y: auto;
	word-wrap: break-word;
	height: 90%;
	margin-bottom: 2%;
}
.chat .chat-history .message-data {
	margin-bottom: 15px;
}
.chat .chat-history1 .message-data {
	margin-bottom: 15px;
}
.chat .chat-history .message {
	color: white;
	padding: 10px 0px;
	line-height: 26px;
	font-size: 16px;
	border-radius: 7px;
	margin-bottom: 15px;
	width: 90%;
	position: relative;
}
.chat .chat-history1 .message {
	color: white;
	padding: 10px 10px;
	line-height: 26px;
	font-size: 16px;
	border-radius: 7px;
	margin-bottom: 15px;
	width: 90%;
	position: relative;
}
.chat .chat-history .message:after {
	bottom: 100%;
	left: 7%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: transparent;
	border-width: 10px;
	margin-left: -10px;
}
.chat .chat-history1 .message:after {
	bottom: 100%;
	left: 7%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: transparent;
	border-width: 10px;
	margin-left: -10px;
}
.chat .chat-history .my-message {
	padding-left: 5%;
	text-align: left;
	background: rgba(255, 255, 255, 0.2);
}
.chat .chat-history1 .my-message {
	padding-left: 5%;
	text-align: center;
	background: rgba(255, 255, 255, 0.2);
}
.chat .chat-history .other-message {
	padding-right: 5%;
	background: rgba(255, 255, 255, 0.3);
	text-align: right;
}
.chat .chat-history1 .other-message {
	padding-right: 5%;
	background: rgba(255, 255, 255, 0.3);
	text-align: right;
}
.chat .chat-history .other-message:after {
	border-bottom-color: transparent;
	left: 93%;
}
.chat .chat-history1 .other-message:after {
	border-bottom-color: transparent;
	left: 93%;
}
.chat .chat-message textarea {
	height: 7%;
	width: 45%;
	border: none;
	font: 14px/22px "Lato", Arial, sans-serif;
	margin-bottom: 5px;
	border-radius: 5px;
	resize: vertical;
	position: absolute;
	bottom: 0px;
	background: inherit;
	color: white;
	resize: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.hero {
	position: relative;
	height: 100vh;
	color: #fff;
	background-image: url("../images/chat_background.jpeg");
	-webkit-animation: animatedBackground 30s linear infinite;
	animation: animatedBackground 20s linear infinite;
}

@-webkit-keyframes animatedBackground {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 600px 0;
	}
}

@keyframes animatedBackground {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 600px 0;
	}
}

#send{
	float: right;
	color: #94C2ED;
	font-size: 16px;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	font-weight: bold;
	background: transparent;
	position: absolute;
	bottom: 10px;
	right: 0px;
}

#record{
	float: right;
	color: #94C2ED;
	font-size: 16px;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	font-weight: bold;
	background: transparent;
	position: absolute;
	bottom: 45px;
	right: 4px;
}
canvas {
	background: rgba(0,0,0,0.3);
	position: absolute;
	right: 38%;
	bottom: 8px;
	z-index: 1;
	height: 100px;
}

