@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
figure.snip0019 {
	font-family: 'Raleway', Arial, sans-serif;
	color: #fff;
	position: relative;
	float: left;
	overflow: hidden;
	margin: 8% 1%;
	min-width: 5%;
	max-width: 45%;
	max-height: 95%;
	width: 100%;
	background: #ffffff;
	text-align: center;
}
figure.snip0019 * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
figure.snip0019 img {
	opacity: 1;
	width: 100%;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}
figure.snip0019 figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: left;
}
figure.snip0019 figcaption > div {
	float: left;
	height: 100%;
	overflow: hidden;
	width: 50%;
	position: relative;
}
figure.snip0019 figcaption::before {
	position: absolute;
	top: 50%;
	bottom: 50%;
	left: 50%;
	width: 2px;
	content: '';
	opacity: 0;
	background-color: rgba(255, 255, 255, 0);
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-transition-delay: 0.6s;
	transition-delay: 0.6s;
}
figure.snip0019 h2,
figure.snip0019 p {
	margin: 0;
	padding: 20px;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	-webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
	transition: opacity 0.45s,-webkit-transform 0.45s,-moz-transform 0.45s,-o-transform 0.45s,transform 0.45s;
}
figure.snip0019 h2 {
	text-align: right;
	display: inline-block;
	word-spacing: -0.1em;
	font-weight: 300;
	text-transform: uppercase;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	-webkit-transform: translate3d(50%, 0%, 0);
	transform: translate3d(50%, 0%, 0);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
figure.snip0019 h2 span {
	font-weight: 800;
}
figure.snip0019 p {
	display: block;
	bottom: 0;
	text-align: left;
	font-weight: 300;
	top: 0%;
	color: #000;
	background: #ffffff;
	-webkit-transform: translate3d(-50%, 0%, 0);
	transform: translate3d(-50%, 0%, 0);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
figure.snip0019 a {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	color: #ffffff;
}
figure.snip0019:hover img {
	opacity: 0.7;
}
figure.snip0019:hover figcaption h2,
figure.snip0019:hover figcaption p {
	-webkit-transform: translate3d(0%, 0%, 0);
	transform: translate3d(0%, 0%, 0);
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
figure.snip0019:hover figcaption h2 {
	opacity: 1;
}
figure.snip0019:hover figcaption p {
	opacity: 1;
}
figure.snip0019:hover figcaption::before {
	background: #ffffff;
	top: 0px;
	bottom: 0px;
	opacity: 1;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
figure.snip0017 {
	font-family: 'Raleway', Arial, sans-serif;
	color: #fff;
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 10%;
	min-width: 5%;
	max-width: 18%;
	max-height: 100%;
	width: 50%;
	background: #000000;
	text-align: right;
}
figure.snip0017 * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
figure.snip0017 img {
	opacity: 1;
	width: 100%;
	-webkit-transition: opacity 2s;
	transition: opacity 2s;
}
figure.snip0017 figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 30px 3em;
	width: 100%;
	height: 100%;
}
figure.snip0017 figcaption::before {
	position: absolute;
	top: 30px;
	right: 100%;
	bottom: 30px;
	left: 30px;
	border-right: 4px solid rgba(255, 255, 255, 0.8);
	content: '';
	opacity: 0;
	background-color: rgba(255, 255, 255, 0.5);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transition-delay: 0.6s;
	transition-delay: 0.6s;
}
figure.snip0017 h2,
figure.snip0017 p {
	margin: 0 0 5px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
}
figure.snip0017 h2 {
	word-spacing: -0.15em;
	font-weight: 300;
	text-transform: uppercase;
	-webkit-transform: translate3d(-30%, 0%, 0);
	transform: translate3d(-30%, 0%, 0);
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
figure.snip0017 h2 span {
	font-weight: 800;
}
figure.snip0017 p {
	font-weight: 200;
	-webkit-transform: translate3d(0%, -30%, 0);
	transform: translate3d(0%, -30%, 0);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
figure.snip0017 a {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	color: #ffffff;
}
figure.snip0017:hover img {
	opacity: 0.3;
}
figure.snip0017:hover figcaption h2,
figure.snip0017:hover figcaption p {
	visibility: visible;
}
figure.snip0017:hover figcaption h2 {
	opacity: 1;
	-webkit-transform: translate3d(0%, 0%, 0);
	transform: translate3d(0%, 0%, 0);
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}
figure.snip0017:hover figcaption p {
	opacity: 0.9;
	-webkit-transform: translate3d(0%, 0%, 0);
	transform: translate3d(0%, 0%, 0);
	-webkit-transition-delay: 0.6s;
	transition-delay: 0.6s;
}
figure.snip0017:hover figcaption::before {
	background: rgba(255, 255, 255, 0);
	right: 30px;
	opacity: 1;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
